{% extends 'base.html.twig' %}
{% form_theme registrationForm _self %}
    {% block _user_registration_form_agreeTerms_row %}
        <div class="checkbox mb-3">
            {{ form_errors(form) }}
            <label>
                <input type="checkbox" name="user_registration_form[agreeTerms]"> Согласен с условиями
            </label>
        </div>
    {% endblock %}

{% block title %}Регистрация{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">

            <div class="col-sm-12">

                {{ form_start(registrationForm, {
                    attr: { class: 'form-signin' }
                }) }}

                    {{ form_errors(registrationForm.email) }}
                    {{ form_row(registrationForm.email, {
                        attr: { placeholder: 'Email' },
                        label_attr: { class: 'sr-only' }
                    }) }}

                    {{ form_row(registrationForm.firstName, {
                        attr: { placeholder: 'Имя' },
                        label_attr: { class: 'sr-only' }
                    }) }}

                    {{ form_errors(registrationForm.plainPassword) }}
                    {{ form_row(registrationForm.plainPassword, {
                        attr: { placeholder: 'Пароль' },
                        label_attr: { class: 'sr-only' }
                    }) }}

                    {{ form_row(registrationForm.agreeTerms) }}
                    <button class="btn btn-lg btn-primary btn-block" type="submit">Зарегистрироваться</button>
                {{ form_end(registrationForm) }}
            </div>

        </div>
    </div>
{% endblock %}
